/* header */
nav ul a {
  color : #F9A825;
}

.logo {
  position: relative;;
  margin-top:5px!important;
  margin-left: 10px!important;
}

nav .brand-logo {
    position: absolute;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0 10px 0 50px;
    white-space: nowrap;
}

.side-nav a {
    color:#F9A825!important;
    width:200px!important;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

/* footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
},

main {
  flex: 1 0 auto;
},

.association {
  width: 50px;
  padding-left: 5px;
  margin: 20px;
}

hr.style1{
  border-top: 1px solid #8c8b8b;
}

/* page 2 */
.animal{
  width: 250px;
  padding : 9px;
  margin: 10px;
  border : 5px dotted green;
}

.row img {
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover{
  opacity: .5;
}

/* page 4 */
.btn, .btn-large {
    text-decoration: none;
    color: #5d4037;
    background-color: #F9A825;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

/* home */
.accueil {
  margin-left: auto;
  width: 500px;
  border : 3px solid grey;
  padding-bottom:10px;
}
img .home  {
    border: 0;
    padding-top: 5px;
    margin-top: 15px;
    margin-left: 15px;
}

/*parallax*/

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
