<div class="brown darken-2">
    <div class="row">
        <div class="col s12 m6 l6">
            <h7 class="white-text">Savanna'h</h7>
            <p class="grey-text text-lighten-4">Social Zoo</p>
        </div>
        <div class="col s12 m6 l6">
            <h7 class=" yellow-text text-darken-3">Notre site est partenaire de :
            </h7>
            <hr class="style1"><br>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6"></div>
        <div class="col s12 m6 l6">
            <a class="grey-text text-lighten-3" href="http://www.afdpz.org/!"><img class="association" src="../images/association1.jpg" alt=""/></a>
            <a class="grey-text text-lighten-3" href="http://www.waza.org/en/site/home!"><img class="association" src="../images/association2.jpg" alt=""/></a>
            <a class="grey-text text-lighten-3" href="http://www.eaza.net/"><img class="association" src="../images/association3.jpg" alt=""/></a>
        </div>
    </div>
    <div class="row">
        <div class="footer-copyright">
            <div class="yellow-text text-darken-3">
                © 2014-2016 Copyright Text
            </div>
        </div>
    </div>
