<nav>
    <div class="nav-wrapper light-green darken-4">
      <img src="images/logo_rec.png" alt="">
      <a href="#!" class="brand-logo">Savanna'H</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="home.html">Home</a></li>
        <li><a href="page2.html">Zoos</a></li>
        <li><a href="page4.html">Ajouter un zoo</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="home.html">Home</a></li>
        <li><a href="page2.html">Zoos</a></li>
        <li><a href="page4.html">Ajouter un zoo</a></li>
      </ul>
    </div>
  </nav>
