<div class="row">
  <div class="col s12 m4 l4"><img class="animal" src="../images/pandabeauval.jpeg" alt="" /></div>
  <div class="col s12 m4 l4"><img  class="animal" src="../images/anacondafleche.jpg" alt="" /></div>
  <div class="col s12 m4 l4"><img class="animal" src="../images/Attilly1.jpg" alt="" /></div>
</div>

<div class="row">
  <div class="col s12 m4 l4"><img class="animal" src="../images/Bioparc2_Panda_Roux.jpg" alt="" /></div>
  <div class="col s12 m4 l4"><img class="animal" src="../images/girafethoiry.jpg" alt="" /></div>
  <div class="col s12 m4 l4"><img class="animal" src="../images/saimirifleche.jpg" alt="" /></div>
</div>
