<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text  yellow-text text-darken-3">Titre</h1>
      <div class="row center">
        <h5 class="header col s12 light">Venez observer la vie des animaux comme vous ne l'avez jamais vu.</h5>
      </div>

      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="images/Paris1_Puma.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center yellow-text text-darken-3"><i class="material-icons">info_outline</i></h2>
          <h5 class="center">About us</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center yellow-text text-darken-3"><i class="material-icons">group</i></h2>
          <h5 class="center">Infos pratique</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center yellow-text text-darken-3"><i class="material-icons">room</i></h2>
          <h5 class="center">Où nous trouver</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row center"
<form class="" action="index.html" method="post">
  <label for=""><input type="text" name="name" placeholder="votre commentaire" value=""/></label>
    <input type="submit"/>
</form>
</div>

<script>
$(document).ready(function() {

    $('.parallax').parallax();

});
</script>
